


.aligned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    /* border: 1px solid red; */
}


h1{
    color: white;
    font-family: "work sans";
    font-style: bold;
    font-size: 30px;

}

#pfp{
    position: absolute;
    top: 20%;
    height: 250px;
    border-radius: 150px;
    border: 6px solid #3297b346;
}

#disc{
    position: absolute;
    top: 70%;
    margin-top: 10px;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#user{
    /* border: 1px solid red; */
    position: absolute;
    top: 55%;
    display: flex;
    font-size: 50px;
    margin-bottom: 30px;
}


#song {
    position: absolute;
    top: 65%;
    font-size: 25px;
    color:#008080;
    /* leave it a sec */
    
   
}


.container {
    display: flex;
    position: absolute;
    top: 81%;
    overflow: hidden;
    justify-content: space-between;
  
}

#discord, #steam {
    max-height: 40px;
    margin: 0 5px; /* Adjust the margin as needed */

}



@media screen and (max-width: 600px) {
    #discord[data-aos], #steam[data-aos] {
        opacity: 1 !important; /* Override AOS opacity property for smaller screens */
        transition: none !important; /* Disable AOS transition for smaller screens */
    }   
  
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#glass {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 45px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
height: 800px;
width: 820px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 7px;
}

