body{
    background: linear-gradient(#c1a3ff, #ffc3f8, #ff8f99);
    background-repeat:no-repeat;
    background-attachment: fixed;
}


.aligned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    /* border: 1px solid red; */
}


h1{
    color: white;
    font-family: "work sans";
    font-style: bold;
    font-size: 30px;

}

#pfp{
    position: absolute;
    top: 20%;
    height: 250px;
    border-radius: 150px;
    border: 6px solid #3399b246;
}

#disc{
    position: absolute;
    top: 70%;
    margin-top: 10px;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#user{
    /* border: 1px solid red; */
    position: absolute;
    top: 55%;
    display: flex;
    font-size: 50px;
    margin-bottom: 30px;
}


#song {
    position: absolute;
    top: 65%;
    font-size: 25px;
    color:#008080;
    /* leave it a sec */
    
   
}


.container {
    display: flex;
    position: absolute;
    top: 81%;
    overflow: hidden;
    justify-content: space-between;
  
}

#discord, #steam {
    max-height: 40px;
    margin: 0 5px; /* Adjust the margin as needed */
    
}


@media screen and (max-width: 600px) {
    #discord[data-aos], #steam[data-aos] {
        opacity: 1 !important; /* Override AOS opacity property for smaller screens */
        transition: none !important; /* Disable AOS transition for smaller screens */
    }   
    .containerballs {
        visibility: hidden;
        height: 0;
    }
    .container {
        top: 80%;
        padding: 15px;
    }
}





.containerballs {
    position: absolute; /* Add this line to specify the positioning */
    display: inline-block;
    top: 40%;
    left: 10%;
}

#sideorder {
    height: 75px;
    
}
